
/* colors scheme https://coolors.co/714241-dfcd0a-b11807-0d7811-6276d5 */

:root{
  --primary: #714241;
  --secondary: #111414;
  --success: #6276D5;
  --info: #0d7811;
  --warning: #dfcd0a;
  --danger: #b11807;
  --light: #f8f9fa;
  --dark: #343a40;
}

.text-primary{
  color: var(--primary) !important;

}

.text-secondary{
  color: var(--secondary) !important;

}

.text-info{
  color: var(--info) !important;

}

.text-warning{
  color: var(--warning) !important;background-

}

.text-danger{
  color: var(--danger) !important;

}

/* buttons */
.btn-primary{
  background-color: var(--primary) !important;

}

.btn-secondary{
  background-color: var(--secondary) !important;

}

.btn-info{
  background-color: var(--info) !important;

}

.btn-warning{
  background-color: var(--warning) !important;

}

.btn-danger{
  background-color: var(--danger) !important;

}



.btn-outline-primary{
  border-color: var(--primary) !important;

}

.btn-outline-secondary{
  border-color: var(--secondary) !important;

}

.btn-outline-info{
  border-color: var(--info) !important;

}

.btn-outline-warning{
  border-color: var(--warning) !important;

}

.btn-outline-danger{
  border-color: var(--danger) !important;

}

/* background */
.bg-primary{
  background-color: var(--primary) !important;
}

.bg-secondary{
  background-color: var(--secondary) !important;
}

.bg-info{
  background-color: var(--info) !important;
}

.bg-warning{
  background-color: var(--warning) !important;
}

.bg-danger{
  background-color: var(--danger) !important;
}


body{margin-top:20px;
background-color:#f2f6fc;
color:#69707a;
}
.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%) !important;
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: var(--danger);
}
.nav-borders .nav-link {
    color: var(--secondary);
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
